#
# CONFIG file for EVR manager
# Create one of these for each evr to facilitate
# diagnostics and channel management
#

RELEASE		= /reg/g/pcds/package/epics/3.14/ioc/common/evr/R1.2.2

ENGINEER	= "Silke Nelson (snelson)"
LOCATION	= "B950 XPP R32 gon"
ARCH		= linux-x86_64
TARGET_ARCH	= linux-x86_64

HUTCH		= xpp
EVR_PV		= XPP:R32:EVR:32
IOC_PV		= XPP:R32:IOC:32:EVR
EVR_TYPE	= SLAC

