#
# CONFIG file for EVR manager
# Create one of these for each evr to facilitate
# diagnostics and channel management
#
RELEASE		= /reg/g/pcds/epics/ioc/common/evr/R1.2.4

ENGINEER	= "Maarten Thomas-Bosum (bosum123)"
LOCATION	= "BUILDING 950-100H1"
ARCH            = rhel7-x86_64
TARGET_ARCH	= rhel7-x86_64

HUTCH		= tmo
EVR_PV		= TMO:MISC:EVR:01
IOC_PV		= IOC:TMO:MISC:EVR:01
EVR_TYPE	= SLAC
