#
# CONFIG file for gigECam child IOC
# For more options see $RELEASE/iocBoot/default/ioc-sample.cfg

# Brief version of ioc-sample.cfg suitable for development use.
RELEASE		= /reg/g/pcds/epics/ioc/common/andorCam/R1.0.0
TARGET_ARCH	= rhel7-x86_64

ENGINEER	= "Your Name (yourusername)"
LOCATION	= "Bldg XXX, HUTCH XXX, ?"

# Required macros
HUTCH		= xxx
IOC_PV		= XXX:IOC:ANDOR:2
CAM_PV		= XXX:CAM:ANDOR:2

# APP defaults to andor
# If you're using a TPR you must set APP = andorTpr
APP		= andor

# EVR info (Optional)
#EVR_PV		= XXX:EVR:ANDOR:2
#EVR_TYPE	= SLAC
#EVR_TRIG	= 2

# TPR info (Optional)
#TPR_PV		= XXX:TPR:01
#TPE_PV		= XXX:ANDOR:02:TPE
#TPR_TR		= 2

CAM_TYPE        = Andor
MODEL		= NewtonD0940P

# Image streams
# Each image stream has it's own dedicated ROI and CC plugin
STREAM(NAME=data,IMAGE_NAME=DATA1)
STREAM(NAME=viewer,IMAGE_NAME=IMAGE1)
STREAM(NAME=viewer,IMAGE_NAME=IMAGE2)
#STREAM(NAME=thumbnail,IMAGE_NAME=THUMBNAIL)

# Note: pcdsPlugins is being phased out in favor of the commonPlugins
PLUGINS		= commonPlugins

PLUGIN(NAME=MJPG)
#PLUGIN(NAME=FileMPEG)

# Optional acquisition auto-start
AUTO_START	= 1
