#
# CONFIG file for pgpCamlink child IOC
# For more options see $RELEASE/iocBoot/default/ioc-sample.cfg

# Brief version of ioc-sample.cfg suitable for development use.
RELEASE=/cds/group/pcds/epics/ioc/common/axiRogue/R0.2.1
TARGET_ARCH	= rhel7-x86_64

ENGINEER	= "Bruce Hill (bhill)"
LOCATION	= "Bldg 950, Rm 207, HUTCH TST"

# Required macros
HUTCH		= tst
IOC_PV		= TST:IOC:XPM:01
AXI_PV	    = TST:XPM:01
AXI_PORT    = XPM

PGP_BOARD	= 0
