#
# CONFIG file for andorCam child IOC
# For more options see $RELEASE/iocBoot/default/ioc-sample.cfg

# Brief version of ioc-sample.cfg suitable for development use.
RELEASE=/cds/group/pcds/epics/ioc/common/andorCam/R1.3.0
TARGET_ARCH	= rhel7-x86_64

ENGINEER	= "Daniel Damiani (ddamiani)"
LOCATION	= "ASC Lab, USB to host daq-det-jungfrau"

# Required macros
HUTCH		= det
IOC_PV		= DET:IOC:CAM:ANDOR1
CAM_PV	    = DET:CAM:ANDOR1
POWER		= DET:ASC:PWR:01:Outlet:1:SetAction

# EVR info (Optional)
EVR_PV    	= DET:EVR:ANDOR1
EVR_TYPE	= PMC
EVR_TRIG	= 0

MODEL		= NewtonD0940P
HTTP_PORT	= 8001

# Image streams
# Each image stream has it's own dedicated ROI and CC plugin
STREAM(NAME=data,IMAGE_NAME=IMAGE1)
STREAM(NAME=viewer,IMAGE_NAME=IMAGE2)
STREAM(NAME=thumbnail,IMAGE_NAME=THUMBNAIL)

# Note: pcdsPlugins is being phased out in favor of the commonPlugins
PLUGINS		= commonPlugins

#PLUGIN(NAME=MJPG)
#PLUGIN(NAME=FileMPEG)

CAM_TRACE_MASK	= 1
CAM_TRACE_IO_MASK = 1

# Optional acquisition auto-start
AUTO_START	= 1
